@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #444;
}

div.header {
	background-image: url("kenny.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #F47005;
	background-position: center;
	height: 15%;
	min-height: 100px;
	text-align: center;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 10px 19px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 10px 19px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 10px 19px 0px rgba(50, 50, 50, 0.75);
}

ul {
	list-style-type: none;
	display: inline-block;
	float: left;
	width: 33.33333%;
	font-weight: 300;
}

div.links {
	margin-top: 30px;
	font-size: 140%;
	color: white;
	text-align: center;
	text-shadow: 0px 5px 8px #222;
}

div.links a {
	display: block;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease;
	padding: 4px;
}

div.links a:hover {
	color: #F47005;
	background-color: #333;
}

form {
	text-align: center;
}

.search,
#gsearch {
	border: 1px solid #333;
	width: 60%;
	height: 35px;
	background-color: #333;
	color: #F47005;
	margin-top: 10px;
	-webkit-box-shadow: 0px 3px 20px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 20px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 20px 0px rgba(50, 50, 50, 0.75);
	transition: all 0.5s ease;
}

.search:hover,
#gsearch:hover {
	border: 1px solid #F47005;
}

.search:focus,
#gsearch:focus {
	border: 1px solid #F47005;
	outline: none;
}

div.statuschecker {
	text-align: center;
	color: white;
	text-shadow: 0px 5px 8px #222;
	font-size: 120%;
	font-weight: lighter;
}

div.statuschecker p {
	padding-top: 50px;
	padding-bottom: 10px;
}

div.csstats {
	text-align: center;
}

input[type=text] {
	text-align: center;
}

div.links img {
	margin-right: 3px;
}

div.csstats {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0px;
	-webkit-box-shadow: 0px 0px 49px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 49px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 49px 3px rgba(0,0,0,0.75);
}

div.csstats img {
	transition: all 0.5s ease;
	width: 20%;
}

.statusbox {
		width: 100%;
    background-color: #F47005;
    padding: 0.3em;
    text-align: center;
		position: fixed;
    bottom: 0;
		-webkit-box-shadow: 0px -10px 19px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px -10px 19px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px -10px 19px 0px rgba(50, 50, 50, 0.75);
}

div.online {
	font-weight: bold;
	color: #006622;
	display: inline;
}

div.offline {
	font-weight: bold;
	color: #b30000;
	display: inline;
}

::-webkit-input-placeholder { text-align: center; color: #888; }
::-moz-placeholder { text-align: center; color: #888; } /* Firefox */
:-ms-input-placeholder { text-align: center; color: #888; } /* Internet Explorer */
input:-moz-placeholder { text-align: center; color: #888; }
